@use '../abstracts/variables' as v;

.contact {
    width: 100%;
}

.contactContainer {
    margin: 112px auto 144px auto;
    gap: 128px;

    &__image {
        margin-bottom: 150px;
        &-bg {
            position: relative;
            height: fit-content;

            &::before {
                
                display: inline-block;
                position: absolute;
                content: "";
                left: 32px;
                top: 32px;
                right: -32px;
                bottom: -32px;
                background-color: #9e8253; //#check
                opacity: 0.5;
                z-index: -1;
            }

            img {
                width: 443px;

                @media (max-width: 1200px) { //#check
                    width: 300px;
                }
            }
        }


    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 32px;
        justify-content: center;

        h2 {
            color: v.$font-secondary;
        }

        p {
            color: v.$font-tertiary;
        }

        hr {
            color: v.$font-tertiary;
        }
    }

    @media (max-width: 992px){ //#check
        &__image {
            order: -1;
            margin-bottom: 92px;
        }

        &__text {
            margin-bottom: 100px;
        }
    }
}