@use '../abstracts/variables' as v;

header {
    width: 100%;
    height: 100vh;
    background-image: url(../../img/header-background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.headerContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: v.$font-primary;
    background-color: rgba(0,0,0,0.5);

    h1 {
        text-align: center;
    }
}