@mixin push--auto {
    margin: { 
        left: auto;
        right: auto;
    }
}

@mixin pseudo($display: block, $pos: absolute, $content: ''){
    content: $content;
    display: $display;
    position: $pos;
}

$mobile: 600px;
$tablet: 1024px;
$desktop: 1366px;

@mixin mobile {
    @media only screen and (max-width: $mobile) {
        @content;
    }
}

@mixin tablet {
    @media only screen and (max-width: $tablet) {
        @content;
    }
}

@mixin desktop {
    @media only screen and (max-width: $desktop) {
        @content;
    }
}

/* ===== Usage ===== */
// h1 {
//   font-size: 10px;

//   @include tablet {
//     font-size: 12px;
//   }

//   @include desktop {
//     font-size: 20px;
//   }
// }