$h1 : 48;
$h2 : 32;
$h3 : 24;
$body : 18;

$font-family-1: Merriweather, sans-serif;
$font-family-2: Lora, sans-serif;

$font-primary : #fafafa;
$font-secondary : #303030;
$font-tertiary : #575757;

$font-record : #9e8253;

$background-primary: #fafafa;
$background-secondary: #eeeeee;
$background-tertiary: #e0e0e0;